
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

    @font-face {
      font-family: 'Gelasio';
      font-style: normal;
      font-weight: 400;
      src: local('Gelasio Regular'), local('Gelasio-Regular'), url(https://fonts.gstatic.com/s/gelasio/v1/cIf9MaFfvUQxTTqS9C6hYQ.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Raleway:wght@100&display=swap');
  
  :root {
  --gradient: grey;
  --light: #fff;
  --grey: #f8f9fa;
}

h1, h2, h3, h4 {
  text-transform: uppercase !important;
  font-family: 'Josefin Slab';
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway' !important;
  scroll-behavior: smooth;
}
.main-bgcolor {
  background-color: black;
  color: white;
}
.light-color {
  color: white;
}

.dark-color {
  color: black;
}
.grey-bgcolor {
  background: var(--grey);
}
.company_brand {
  font-size: x-large;
}

.section {
  padding: 50px 0;
}

.section-body {
  padding: 20px 0;
}
